body {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 20px;
    background-color: var(--primary);
    color: #333;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--primary); 
  }
  :root {
  --primary: rgb(255, 240, 220);
  --secondary: rgb(240, 187, 120);
  --button: rgb(84, 58, 20);
}
  #swatches-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    border: 3px solid #030505; 
    border-radius: 10px;
    background-color: var(--primary); 
    min-height: 150px; /* Ensure container has height even if empty */
  }
  .swatch {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cccccc00;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  .swatch-color {
    width: 80px;
    height: 80px;
    border-radius: 4px;
  }
  #no-swatches {
    text-align: center;
    font-size: 18px;
    color: #888;
    display: none; 
  }