* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
body {
   background-color: var(--secondary);
    overflow: hidden;
}

/* Root Styles */
:root {
    --primary: rgb(255, 240, 220);
    --secondary: rgb(240, 187, 120);
    --button: rgb(84, 58, 20);
}

/* HEADING */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--primary);
}


.rgb-boxes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
}

.red-box, .green-box, .blue-box {
    border-radius: 8px;
    height: 200px;
    width: auto;
    border: 2.5px solid black;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles for Red Box */
.red-box {
    background-color: rgba(255, 0, 0, 0.858);
}

.red-box h2 {
    font-weight: 700;
    color: black;
}

.red-box p {
    color: black;
    font-weight: 500;
}

.red-box label {
    color: black;
    font-weight: 500;
}

.red-box input {
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}

/* Styles for Green Box */
.green-box {
    background-color: rgba(0, 173, 0, 0.858);
}

.green-box h2 {
    font-weight: 700;
    color: black;
}

.green-box p {
    color: black;
    font-weight: 500;
}

.green-box label {
    color: black;
    font-weight: 500;
}

.green-box input {
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}

/* Style for Blue Box */
.blue-box {
    background-color: rgba(0, 81, 255, 0.858);
}

.blue-box h2 {
    font-weight: 700;
    color: black;
}

.blue-box p {
    color: black;
    font-weight: 500;
}

.blue-box label {
    color: black;
    font-weight: 500;
}

.blue-box input {
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
.generate-save-container button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    margin: 10px;
}
.generate-save-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.saved-colors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.color-1, .color-2, .color-3, .color-4 , .color-5 {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    align-items:right;
}